---
import { storyblokEditable } from '@storyblok/astro';
import { Image } from 'astro:assets';
import { BadgePercent } from 'lucide-react';
import { Badge } from '@/components/ui/badge';
import ProjectDetails from '@/storyblok/projects/ProjectDetails.astro';
// import Amenities from '@/storyblok/Amenities.astro';
const { heroContent, amenidadesContent } = Astro.props;
---

<section {...storyblokEditable(heroContent)}>
  <div>
    <h1 class="text-4xl sm:text-7xl text-black font-heading">
      {heroContent.titulo}
    </h1>
    <div class="mt-12 grid sm:grid-cols-[2fr_1.5fr] gap-x-8 gap-y-4">
      <!-- Hero -->
      <div
        class="overflow-hidden rounded-md shadow-sm relative aspect-[4/3] h-full w-full">
        <Image
          src={heroContent.imagen_portada.filename}
          alt={heroContent.badge_imagen_portada}
          class="w-full h-full object-cover"
          loading="eager"
          width="664"
          height="562"
          format="webp"
        />
        {
          heroContent.badge_imagen_portada && (
            <Badge
              className="absolute bottom-3 left-2.5 text-sm sm:text-base"
              client:visible>
              {heroContent.badge_imagen_portada}
            </Badge>
          )
        }
      </div>
      <!-- Project Info -->
      <div class="flex flex-col gap-y-4">
        <!-- Promocion -->
        {
          heroContent.promocion && (
            <div class="flex gap-2.5 items-center text-accent-dark font-medium bg-[#e9f5f5] p-4 border border-[#b1ddde] rounded-sm">
              <div class="w-8 h-8 bg-[#d8efef] rounded-[0.5rem] inline-flex items-center justify-center">
                <BadgePercent
                  className="w-5 h-5 text-[#29545c]"
                  strokeWidth={1.5}
                />
              </div>
              <p class="text-xs sm:text-sm font-medium text-[#29545c]">
                {heroContent.promocion}
              </p>
            </div>
          )
        }

        <ProjectDetails blok={heroContent} />
        <!-- {
          amenidadesContent.length > 0 && (
            <Amenities amenidadesContent={amenidadesContent} />
          )
        } -->
      </div>
    </div>
  </div>
</section>
