---
import { storyblokEditable } from '@storyblok/astro';
import { renderRichText } from '@storyblok/js';
import { Button } from '@/components/ui/button';
import { ArrowUpRight } from 'lucide-react';
const { blok } = Astro.props;
const renderedRichText = renderRichText(blok.descripcion);
---

<section {...storyblokEditable(blok)} class="py-14 sm:py-24">
  <div class="container">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-12 gap-x-20">
      <div>
        <div>
          <h2
            class="mb-4 sm:mb-6 relative text-3xl sm:text-5xl font-heading text-neutral-950">
            {blok.titulo}
          </h2>
          <div class="text-lg" set:html={renderedRichText} />
        </div>
        <a
          class="flex group mt-6 sm:hidden"
          href={blok.boton_link}
          target="_blank">
          <Button
            className="bg-[#D9D9D9] text-neutral-950 group-hover:text-white group-hover:bg-black text-base font-medium"
            client:visible>
            {blok.boton_texto}
          </Button>
          <Button
            size={'icon'}
            className="bg-[#D9D9D9]  group-hover:bg-black"
            client:visible>
            <ArrowUpRight
              className="text-black group-hover:text-white "
            />
          </Button>
        </a>
      </div>
      <ul class="grid grid-cols-3 items-center gap-x-6 sm:gap-x-8">
        {
          blok.stats.map((item: any) => (
            <li class="flex flex-col text-center gap-2">
              <span class="text-5xl sm:text-7xl font-heading text-neutral-950">
                {item.stat}
              </span>
              <span class="text-base sm:text-base text-neutral-600 h-[72px] sm:h-8">
                {item.descripcion}
              </span>
            </li>
          ))
        }
      </ul>
    </div>
    <a
      class="hidden sm:inline-flex group mt-8"
      href={blok.boton_link}
      target="_blank">
      <Button
        className="bg-[#D9D9D9] text-black group-hover:text-white group-hover:bg-black text-base font-medium">
        {blok.boton_texto}
      </Button>
      <Button
        size={'icon'}
        className="bg-[#D9D9D9]  group-hover:bg-black">
        <ArrowUpRight
          className="text-black group-hover:text-white "
        />
      </Button>
    </a>
  </div>
</section>
