---
import { storyblokEditable } from '@storyblok/astro';
import { Link } from '@/components/link';
import { PhoneCall } from 'lucide-react';
import { Icon } from 'astro-icon/components';

const { blok } = Astro.props;
---

<div
  {...storyblokEditable(blok)}
  class="grid sm:grid-cols-3 gap-y-4 sm:gap-x-6">
  {
    blok.mapa && (
      <div
        class="map overflow-hidden rounded-md shadow-sm col-span-2 aspect-[4/5] sm:aspect-auto [&_iframe]:w-full [&_iframe]:h-full [&_iframe]:rounded-lg"
        set:html={blok.mapa}
        aria-label="Project location map"
      />
    )
  }

  <div class="flex flex-col gap-y-6">
    <!-- Visit card -->
    <div
      class="bg-white rounded-md p-6 flex flex-col justify-between shadow-sm min-h-64">
      <div>
        <h3 class="text-3xl font-heading text-neutral-950">
          {blok.titulo_cita}
        </h3>
        <p class="prose leading-6 mt-4">{blok.descripcion_cita}</p>
      </div>
      {
        blok.telefono && (
          <Link
            href={`tel:${blok.telefono}`}
            aria-label={`Call ${blok.telefono} to schedule a visit`}
            className="
          justify-center
          inline-flex
          items-center
          self-end
          w-full
          sm:w-fit">
            <PhoneCall className="w-4 h-4 mr-2.5" />
            <span>Agenda tu visita</span>
          </Link>
        )
      }
    </div>

    <!-- Location card -->
    <div
      class="bg-[#e9f5f5] border border-[#b1ddde] rounded-md p-6 flex flex-col justify-between shadow-sm sm:min-h-64">
      <div>
        <h3 class="text-3xl font-heading text-[#192a33]">
          {blok.titulo_location}
        </h3>
        <p class="prose leading-6 mt-4 text-[#29545c]">
          {blok.descripcion_location}
        </p>
        <!-- <div
          class="prose leading-6 mt-4 text-[#29545c]"
          set:html={renderRichText(blok.descripcion_location)}
        /> -->
      </div>

      <div
        class="flex flex-col sm:flex-row justify-between gap-2 mt-6">
        {
          blok.google_maps_link?.url && (
            <Link
              href={blok.google_maps_link.url}
              target="_blank"
              className="w-full bg-white text-black hover:bg-black hover:text-white">
              <Icon name="googleMaps" class="w-5 h-5 mr-2.5" />
              <span>Google Maps</span>
            </Link>
          )
        }

        {
          blok.waze_link?.url && (
            <Link
              href={blok.waze_link.url}
              target="_blank"
              className="bg-[#33ccff] text-black w-full inline-flex items-center hover:bg-[#0092ce]">
              <Icon name="waze" class="w-5 h-5 mr-2" />
              <span>Waze</span>
            </Link>
          )
        }
      </div>
    </div>
  </div>
</div>
