---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
// import Amenities from '@/components/Amenities.astro';
// import SecondaryImages from '@/components/SecondaryImages.astro';
// import ServiciosCardsContainer from '@/components/ServiciosCardsContainer.astro';
// import DetallesTerrenos from '@/components/DetallesTerrenos.astro';
// import Informes from '@/components/Informes.astro';
import ProjectGallery from '@/storyblok/projects/ProjectGallery.astro';
import ProjectHero from '@/storyblok/projects/ProjectHero.astro';
import ServiciosCardsContainer from './projects/ServiciosCardsContainer.astro';

const { blok } = Astro.props;

const hero = blok.body.find(
  (obj: any) => obj.component === 'info_general_proyecto'
);
const amenidades = blok.body.filter(
  (obj: any) => obj.component === 'amenidades'
);
const gallery = blok.body.find(
  (obj: any) => obj.component === 'galeria'
);

const serviciosContent = blok.body.find(
  (obj: any) => obj.component === 'servicios'
);
---

<section class="container py-8 sm:py-16">
  <ProjectHero heroContent={hero} amenidadesContent={amenidades} />
  {gallery && <ProjectGallery data={gallery} />}

  {
    serviciosContent && serviciosContent.servicios.length > 0 && (
      <ServiciosCardsContainer data={serviciosContent} />
    )
  }
  <!-- {
    blok.body?.map((blok: any) => {
      return <StoryblokComponent blok={blok} />;
    })
  } -->
</section>
