---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import { Image } from 'astro:assets';
import { Badge } from '@/components/ui/badge';
import ProjectDetails from './projects/ProjectDetails.astro';
import Amenidades from '@/components/Amenidades.astro';
import { removeAccents } from '@/lib/utils';
import ProyectoBreadcrumb from '@/components/proyecto-breadcrumb';
const { blok } = Astro.props;
const formName = removeAccents(
  blok.nombre.toLowerCase().split(' ').join('')
);
const nombreProyecto = blok.nombre;
---

<main {...storyblokEditable(blok)}>
  <section class="py-8 sm:pt-12 sm:pb-8 container">
    <ProyectoBreadcrumb
      nombreProyecto={nombreProyecto}
      client:visible
    />
    <h1 class="text-4xl sm:text-7xl text-black font-heading">
      {blok.nombre}
    </h1>
    <div class="mt-8 grid sm:grid-cols-[2fr_1.5fr] gap-x-8 gap-y-4">
      <div
        class="overflow-hidden rounded-md shadow-sm relative aspect-[4/3] h-full w-full">
        <Image
          src={blok.imagen_portada.filename}
          alt="Image"
          class="w-full h-full object-cover"
          loading="eager"
          inferSize
          format="webp"
        />
        <Badge
          className="absolute bottom-3 left-2.5 text-sm sm:text-base"
          client:visible>
          {blok.badge_imagen_portada}
        </Badge>
      </div>
      <div class="flex flex-col gap-y-4">
        {
          blok.promociones?.map((blok: any) => (
            <StoryblokComponent blok={blok} />
          ))
        }

        <ProjectDetails
          precio={blok.precio}
          descripcion={blok.descripcion_proyecto}
        />
        {
          blok.amenidades.length > 0 && (
            <Amenidades blok={blok.amenidades} />
          )
        }
      </div>
    </div>
  </section>
  {
    blok.galeria && (
      <section class="hidden sm:grid sm:grid-cols-4 sm:gap-x-7 container">
        {blok.galeria.map((blok: any) => {
          return <StoryblokComponent blok={blok} />;
        })}
      </section>
    )
  }

  {
    blok.detalles_proyecto && (
      <section class="pt-12">
        <div class="container">
          {blok.detalles_proyecto.map((blok: any) => (
            <StoryblokComponent
              blok={blok}
              nombreProyecto={nombreProyecto}
            />
          ))}
        </div>
      </section>
    )
  }

  {
    blok.tour_virtual &&
      blok.tour_virtual?.map((blok: any) => (
        <StoryblokComponent blok={blok} />
      ))
  }

  {
    blok.servicios && (
      <section class="pt-12">
        <div class="container pb-6 grid sm:grid-cols-3 gap-x-6 gap-y-4">
          {blok.servicios?.map((blok: any) => (
            <StoryblokComponent blok={blok} />
          ))}
        </div>
      </section>
    )
  }

  {
    blok.info_ubicacion && (
      <section class="pb-12">
        <div class="container">
          {blok.info_ubicacion?.map((blok: any) => (
            <StoryblokComponent blok={blok} />
          ))}
        </div>
      </section>
    )
  }

  {
    blok.contacto && (
      <section class="py-8 sm:py-16">
        {blok.contacto?.map((blok: any) => (
          <StoryblokComponent blok={blok} formName={formName} />
        ))}
      </section>
    )
  }
</main>
