---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';
import { sluglify, removeAccents } from '@/lib/utils';
const allProjectPosts = await getCollection('project');

const dominioCumbres = allProjectPosts.filter(
  (project) => project.data.location === 'Dominio Cumbres'
);
const valleCondesa = allProjectPosts.filter((project) => project.data.location === 'Valle Condesa');
const apodaca = allProjectPosts.filter((project) => project.data.location === 'Apodaca');

const socialMediaIcons = [
  { name: 'facebook', path: 'https://www.facebook.com/terraregiaresidencial' },
  { name: 'instagram', path: 'https://www.instagram.com/terraregiaresidencial/' },
  { name: 'linkedin', path: 'https://www.linkedin.com/company/terraregia/?originalSubdomain=mx' },
  { name: 'youtube', path: 'https://www.youtube.com/@terraregiadesarrollosinmob3152' }
];
---

<section class="pt-16 pb-12">
  <div class="container grid grid-cols-1 lg:grid-cols-5">
    <!-- Developments Section -->
    <div class="col-span-4 grid grid-cols-2 lg:grid-cols-4 gap-6">
      <!-- Column 1 - Dominio Cumbres -->
      <div>
        <h3 class="text-lg leading-6 font-heading text-balance">
          Proyectos en venta en Dominio Cumbres
        </h3>
        <ul class="mt-4 space-y-2">
          {
            dominioCumbres.map((project) => (
              <li class="text-sm">
                <a
                  href={`/proyectos/${sluglify(removeAccents(project.data.title).toLowerCase())}`}
                  class="text-sm relative before:content-[''] before:absolute before:-bottom-1 before:left-0 before:h-[1px] before:w-full before:bg-black before:scale-x-0 before:origin-right before:transition-transform before:duration-300 before:ease-in-out hover:before:scale-100 hover:before:origin-left  ">
                  {project.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Column 2 - Valle Condesa -->
      <div>
        <h3 class="text-lg leading-6 font-heading text-balance">
          Proyectos en venta en Valle Condesa
        </h3>
        <ul class="mt-4 space-y-2">
          {
            valleCondesa.map((project) => (
              <li class="text-sm">
                <a
                  href={`/proyectos/${sluglify(project.data.title.toLowerCase())}`}
                  class="text-sm relative before:content-[''] before:absolute before:-bottom-1 before:left-0 before:h-[1px] before:w-full before:bg-black before:scale-x-0 before:origin-right before:transition-transform before:duration-300 before:ease-in-out hover:before:scale-100 hover:before:origin-left ">
                  {project.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Column 3 - Apodaca -->
      <div>
        <h3 class="text-lg leading-6 font-heading text-balance">Proyectos en venta en Apodaca</h3>
        <ul class="mt-4 space-y-2">
          {
            apodaca.map((project) => (
              <li class="text-sm">
                <a
                  href={`/proyectos/${sluglify(removeAccents(project.data.title).toLowerCase())}`}
                  class="text-sm relative before:content-[''] before:absolute before:-bottom-1 before:left-0 before:h-[1px] before:w-full before:bg-black before:scale-x-0 before:origin-right before:transition-transform before:duration-300 before:ease-in-out hover:before:scale-100 hover:before:origin-left ">
                  {project.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Column 4 - Salinas Victoria -->
      <div>
        <h3 class="text-lg leading-6 font-heading h-12 inline-flex items-end">¿Buscas invertir?</h3>
        <ul class="mt-4 space-y-2">
          <li class="text-sm">
            <a
              href="/inversion/"
              class="text-sm relative before:content-[''] before:absolute before:-bottom-1 before:left-0 before:h-[1px] before:w-full before:bg-black before:scale-x-0 before:origin-right before:transition-transform before:duration-300 before:ease-in-out hover:before:scale-100 hover:before:origin-left">
              Inversiones
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Social Media Section -->
    <div class="mt-6 sm:mt-0 flex flex-col items-center lg:items-start">
      <h3 class="text-lg leading-6 font-heading text-balance h-12 inline-flex items-end">
        Síguenos en redes
      </h3>
      <ul class="mt-4 flex gap-x-4">
        {
          socialMediaIcons.map((plataform) => (
            <li class="bg-[#E6E9E9] w-12 h-12 inline-flex items-center justify-center rounded-full group hover:bg-black transition-colors duration-200 ease-in-out cursor-pointer">
              <a href={plataform.path}>
                <span class="sr-only">Facebook Terra Regia</span>
                <Icon name={plataform.name} class="w-6 h-6 group-hover:text-[#E6E9E9]" />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <hr class="container my-6 border-neutral-300 lg:mt-16 lg:mb-8" />
  <span class="container block text-sm text-neutral-500 text-center max-w-lg"
    >* Aplican términos y condiciones. Podría haber cambios sin previo aviso. Las imágenes son
    ilustrativas.
  </span>
</section>
