---
import { Icon } from 'astro-icon/components';

const { blok } = Astro.props;
---

<section class="py-12 sm:py-14">
  <div class="container grid grid-cols-1 lg:grid-cols-5">
    <!-- Developments Section -->
    <div
      class="col-span-4 grid grid-cols-2 lg:grid-cols-4 gap-6 gap-y-8">
      {
        blok.columnas.map((item: any) => (
          <div>
            <h3 class="text-lg leading-6 font-heading text-balance text-neutral-950 h-12 inline-flex items-end">
              {item.titulo_columna}
            </h3>
            <ul class="mt-4 space-y-2">
              {item.footer_links.map((item: any) => {
                return (
                  <li class="text-sm">
                    <a
                      href={`/${item.link.cached_url}`}
                      class="text-sm relative before:content-[''] before:absolute before:-bottom-1 before:left-0 before:h-[1px] before:w-full before:bg-neutral-600 before:scale-x-0 before:origin-right before:transition-transform before:duration-300 before:ease-in-out hover:before:scale-100 hover:before:origin-left ">
                      {item.texto}
                    </a>
                  </li>
                );
              })}
            </ul>
          </div>
        ))
      }
    </div>

    <div
      class="mt-6 sm:mt-0 flex flex-col items-center lg:items-start">
      <h3
        class="text-lg leading-6 font-heading text-balance text-neutral-950 h-12 inline-flex items-end">
        Síguenos en redes
      </h3>
      <ul class="mt-4 flex gap-x-4">
        {
          blok.columna_social_media.map((item: any) => (
            <li class="bg-[#E6E9E9] w-12 h-12 inline-flex items-center justify-center rounded-full group hover:bg-black transition-colors duration-200 ease-in-out cursor-pointer">
              <a href={item.link}>
                <span class="sr-only">{item.titulo}</span>
                <Icon
                  name={item.red_social}
                  size={24}
                  class="text-black group-hover:text-white"
                />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <hr
    class="max-w-6xl mx-auto my-6 border-neutral-200 lg:mt-8 lg:mb-8"
  />
  <span
    class="container block text-sm text-neutral-500 text-center max-w-lg"
    >{blok.nota}
  </span>
</section>
