---
import data from '@/data/site.json';
import { Button } from './ui/button';
import { ArrowUpRight } from 'lucide-react';

const title = data.about.title.split(' ');
const unstyledTitle = [title[0], title[1]].join(' ');
const styledTitle = [title[2], title[3]].join(' ');
console.log(unstyledTitle, styledTitle);
---

<section class="py-8 sm:py-24">
  <div class="container">
    <div class="grid sm:grid-cols-2 gap-y-4 gap-x-20">
      <div>
        <div>
          <h2 class="relative text-3xl sm:text-5xl font-heading">
            {unstyledTitle}
            <span class="">{styledTitle}</span>
          </h2>

          <p class="mt-6 text-lg leading-6 sm:mt-6 text-neutral-500 max-w-prose">
            {data.about.description}
          </p>
        </div>
        <a class="flex group mt-6 sm:hidden" href="https://terraregia.com/" target="_blank">
          <Button
            className="bg-[#D9D9D9] text-black group-hover:text-white group-hover:bg-black text-base font-medium">
            Conoce más de Terra Regia
          </Button>
          <Button size={'icon'} className="bg-[#D9D9D9]  group-hover:bg-black">
            <ArrowUpRight className="text-black group-hover:text-white " />
          </Button>
        </a>
      </div>
      <ul class="grid grid-cols-3 items-center gap-x-8 gap-y-6">
        {
          data.stats.map((stat) => (
            <li class="flex flex-col text-center gap-2">
              <span class="text-5xl sm:text-7xl font-heading">{stat.title}</span>
              <span class=" text-neutral-500 h-8">{stat.description}</span>
            </li>
          ))
        }
      </ul>
    </div>
    <a class="hidden sm:inline-flex group mt-8" href="https://terraregia.com/" target="_blank">
      <Button
        className="bg-[#D9D9D9] text-black group-hover:text-white group-hover:bg-black text-base font-medium">
        Conoce más de Terra Regia
      </Button>
      <Button size={'icon'} className="bg-[#D9D9D9]  group-hover:bg-black">
        <ArrowUpRight className="text-black group-hover:text-white " />
      </Button>
    </a>
  </div>
</section>
