---
import { getUbicaciones } from "@/lib/utils";
import Ubicacion from '@/components/Ubicacion.astro'
import {OptionsCarousel} from '@/components/options-carousel'
const ubicaciones = await getUbicaciones()
const {activeCategory} = Astro.props
const currentPath = Astro.url.pathname; 
---

<div class="w-full">
  <div class="hidden sm:flex sm:flex-wrap sm:gap-5">
    <Ubicacion/>
    {
      ubicaciones.map((ubicacion) => (
        <Ubicacion name={ubicacion} activeCategory={activeCategory}/>
      ))
    }
  </div>
  <div class="sm:hidden ">
    <OptionsCarousel items={ubicaciones} path={currentPath} client:load/>

  </div>

</div>

