---
import { Image } from 'astro:assets';
import { MapPin } from 'lucide-react';
import { Badge } from './ui/badge';
import { cn } from '@/lib/utils';
import { Link } from './link';

const {project, badge, showPreventaBadge, small} = Astro.props

---

<article id={project.slug}>
	
	<div class="aspect-[3/2] rounded-md overflow-hidden shadow-sm relative group">
		<Image src={project.data.cover} alt={project.data.title} inferSize={true} class="w-full h-full object-cover transition-transform duration-500 ease-out group-hover:transform group-hover:translate3d(0, 0, 0) group-hover:scale-105 group-hover:rotateX(0deg) group-hover:rotateY(0deg)"
		style={{ transformStyle: 'preserve-3d' }} /> 
		
		{badge && (
			<> 		
					{showPreventaBadge && (
							<Badge variant="invertedOutline" className="absolute top-7 left-4 h-8 justify-center font-medium z-10 tracking-[0.01em] opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100 text-sm">
									Precio de Preventa
							</Badge>
					)}
					
					<Badge 
							variant="invertedOutline" 
							className={cn(
									'absolute top-16 sm:top-7 h-8 justify-center font-medium z-10 tracking-[0.01em] opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100 text-sm',
									showPreventaBadge ? 'left-4 sm:left-48' : 'left-4'
							)}
					>
							{project.data.tipo}
					</Badge>
					
					<Badge className="absolute top-7 right-4 lg:w-52 h-8 justify-center font-medium z-10 tracking-[0.01em] text-sm lg:text-base">
							{project.data.costo}
					</Badge>
			</>
	)}
		
	</div>
	<div class="mt-4 flex flex-row justify-between items-center">
		<div class="flex flex-col gap-y-1">
			<h3 class="text-xl sm:text-2xl font-heading tracking-[0.01em] ">{project.data.title}</h3>
			<div class="flex gap-1 items-center text-[#827D7D]">
				<MapPin className="h-4 w-auto" />
				<p class="text-sm font-medium">{project.data.location}</p>
			</div>
		</div>

		
		
		{small ? <Link href={`/proyectos/${project.slug}`} variant="outline" className="cursor-pointer">Ver más</Link> : <Link href={`/proyectos/${project.slug}`} variant="outline" className="cursor-pointer sm:w-[140px]">Ver más</Link>}
	</div>
</article>