---
const {project} = Astro.props
const formatedCosto = project.data.costo.split(' ')
---

<div class="bg-[#D9D9D9] rounded-md flex flex-col py-4 px-7 shadow-sm ">
  <p class="text-lg font-medium text-[#5B5959]">{formatedCosto[0]}</p>
  <p class="text-5xl font-heading ">{formatedCosto[1]}</p>
  <p class="text-lg font-medium mt-8 text-[#5B5959] tracking-[0.01em]">{`${project.data.tipo} en ${project.data.location}` }</p>
</div>