---
import { Image } from "astro:assets"
import { MapPin, Asterisk } from 'lucide-react';
const {project} = Astro.props
---

<article class="rounded-md overflow-hidden bg-card-foreground shadow-sm group hover:shadow-md transition-all hover:bg-[#dadddd] duration-200 ease-out cursor-pointer p-8 space-y-6" slot="slide">
  <div class="flex flex-col space-y-2">   
    <div class="bg-[#827d7d] p-5 rounded-[12px] h-16 flex flex-col justify-center text-center">    
      <p class="text-xl leading-6 tracking-[0.01em] text-[#f8f7f7] font-medium text-balance">{project.mainPromo}</p>
      {project.mainPromoSmall && (
        <p class="inline-flex items-center justify-center text-sm leading-6 tracking-[0.01em] text-[#f8f7f7] font-medium">
          {project.mainPromoSmall}
          <span class="ml-0.5 -mt-1">
            <Asterisk className="w-3 h-3" />
          </span>
        </p>

      )}
      
    </div>
    {project.secondaryPromo && (
    // <p class="text-sm absolute top-2">Elige desde:</p>
    <div class="bg-[#292828] p-5 rounded-[12px] h-16 flex flex-col justify-center text-center">    
      <p class="text-xl leading-6 tracking-[0.01em] text-[#f8f7f7] font-medium text-balance">{project.secondaryPromo}</p>
      <p class="text-sm leading-6 tracking-[0.01em] text-[#f8f7f7] font-medium text-balance">{project.secondaryPromoSmall}</p>
    </div>
    ) }
  </div>
  
  <div class="aspect-[4/3] overflow-hidden rounded-[12px]">
    <Image src={project.images} alt={`Imagen de proyecto ${project.title}`} class="w-full h-full object-cover transition-transform duration-500 ease-out group-hover:transform group-hover:translate3d(0, 0, 0) group-hover:scale-105 group-hover:rotateX(0deg) group-hover:rotateY(0deg)"/>
  </div>
  
  <div class="flex flex-col">
    <h3 class="text-xl text-[#292828] font-heading tracking-[0.01em]">{project.title}</h3>
    <div class="flex gap-1 items-center text-[#827D7D]">
      <MapPin className="h-4 w-auto" />
      <p class="text-sm font-medium">{project.location}</p>
    </div>
  </div>  
  <!-- <div class="space-y-6">
    <p class="font-medium text-lg leading-6 h-12">{project.mainPromotion}</p>
    <p class="text-neutral-600 ">{project.details}</p>
  </div> -->
</article>